nav ul{
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    text-align: center;
    gap: 1rem;  
    padding: 0;
    background-color: var(--lysegraa);
}

nav ul li{
    font-weight: 700;
  
    width: 100%;
    padding: 1rem;
    background-color: var(--morkeblaa);
    color: white;
}

nav ul li a{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    height: 100%;
    color: white;
    
}

.active{
    background-color: var(--white);
    color: black !important;
}