:root{
  --white: white;
  --lysegraa: #E1E5EE;
  --morkeblaa: #2A324B;
  --lyseblaa: #58699D;

  font-family: "Montserrat", serif;
    box-sizing: border-box;
    margin:0;
    padding:10%;
    background-color: var(--lysegraa);
}

#root{
  max-width: 1000px;
  margin: 0 auto;
}

body{
  padding: 0;
  margin: 0;
}